@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


body{
    background-color: lightgoldenrodyellow;
}

html,body{
    margin:0;
    padding:0;
}

header{
    text-align: center;
    background-color: indigo;
    padding: 20px;
}

header .pfp{
    width: 300px;
    height: 300px;
    border: 20px  solid darkmagenta;
    border-radius: 50%;
    background-image: url('./../img/mimikyu-purple-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

header h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 10px 0 20px 0;
    color: antiquewhite;
}
